<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cardHasItems) { %>
                <ul>
                    <% productsDetails.forEach(product => { %>
                    <% if (product.qty > 0) { %>
                        <li>
                            <p><%= product.title %> (<%= product.qty %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= product.id %>" name="productId">
                                <input type="hidden" value="<%= product.price %>" name="productPrice">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                        <% } %>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
